.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Placeholder icon font definitions.
   Provide real icon font or sprite assets here if needed. */

